// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image2{
    width: 100%;
    
}
.navbar{
    width: 100%;
}
.input{
    width: 10px;
}
.form-control{
    width: 400px;
}
.edit{
    width: 400px;
    float:right;
}
.page-footer{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
    text-align: center; 
}
.rounded-circle{
    width: 100px;
    height: 100px;
}
.center{
margin-left: 2em;
}
.card-body{
    float: right;
    
}
.style{
    font-family: cursive;
    font-size: 60px;
    
}
.container{
    background:cornsilk;
    width:700px;
    padding:10px;
    border:1px solid blanchedalmond;
    margin-bottom: 10px;
}
.rounded-circle1{
    width: 50px;
    height: 50px;
    border-radius: 50%
}
.image{
    width: 300px;
}